.main-cooperation h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.r_gap {
row-gap: 20px;
}
.cooperation-number {
    font-size: 90px;
    line-height: 1;
}

.number-line span{
    border-bottom: 2px solid red;
}