.main-cooperation h2 {
    margin-top: 0;
    margin-bottom: 0.5em;
}
.r_gap {
row-gap: 20px;
}
.cooperation-number {
    font-size: 90px;
    line-height: 1;
}

.number-line span{
    border-bottom: 2px solid red;
}

@media (max-width: 1024px) { 
    .main-cooperation ._container > div:first-child {
    flex-direction: column;
 }

}
@media (max-width: 512px) {
    .main-cooperation ._container .f_2 .d_flex {
        flex-direction: column;
     }
     .main-cooperation ._container .f_2 .d_flex .f_col {
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 0;
     }
     .main-cooperation ._container p {
        width: 136px;
     }
}