footer {
    padding: 30px 0;
    background-color: rgb(12, 18, 28);
}

footer .menu a {
    margin: auto 0 0 10px;
}

footer, footer a {
    color: white;
}

.navigation_footer {
    margin-bottom: 48px;
}

.logo_footer {
    margin-right: 120px;
}

.sqp ul{
    list-style: none;
    padding-left: 0;
}
.sqp ul li {
    margin: 5px 0;
    padding: 2px 0;
}

.hr {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin: 20px auto;
}

.offer_footer {
    margin: 10px auto;
}

@media (max-width: 1024px) {  
    footer .general_info {
        flex-wrap: wrap;
    }

    footer .general_info .sqp{ 
        width:50%;
        margin-bottom: 40px;
    }

    .logo_footer {
        margin-right: 40px;
    }

    footer {
        padding-bottom: 90px;
    }
}

@media (max-width: 512px) { 
    footer ._container {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
    }

    footer .menu {
        display: none;
    }

    footer .general_info .sqp {
        width: 100%;
    }
}