@charset "UTF-8";

body {
    font-family: "Lato";
    color:#161615;
}

h1{
    font-size: 54px;
    font-weight: 900;
    line-height: 1;
}

h2 {
    font-size: 46px;
    font-weight: 900;
    line-height: 1;
}

h3 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1; 
}

a {
    color:#161615;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

section h2 {
    margin: 0.7em 0;
}

section h3 {
    margin: 0.6em 0;
}

._container{
    width:1440px;
    margin: 0 auto;
}

.white_bg {
    background-color: white;
}

.gray_bg {
    background-color: #e8e8e8;
}

.white_bg {
    background-color: white;
}


.blue_bg {
    background-color: #214578;
}

.red_bg {
    background-color: #DE213C;
}

.dgray_color {
    color: #A3A3A3;
}

.gray_color {
    color: #e8e8e8;
}

.blue_color {
    color: #214578;
}

.red_color {
    color: #DE213C;
}

.white_color {
    color: white;
}

.d_block{ 
    display: block;
}

/* flex */

.d_flex{
    display: flex;
}

.f_col{
    flex-direction: column;
}

.f_1 {
    flex:1
}

.f_2 {
    flex:2
}

.f_4 {
    flex:4
}

.jc_sb {
    justify-content: space-between;
}

.f_wrap {
    flex-wrap: wrap;
}
.f_gap_10 {
    gap: 10px;
}
.f_gap_20 {
    gap: 20px;
}
/* margin */
.m_r_30 {
    margin-right: 30px;
}

.m_r_25 {
    margin-right: 25px;
}

.m_lr_25 {
    margin: 0 25px;
}

.m_b_40 {
    margin-bottom: 40px;
}

.m_r_70 {
    margin-right: 70px;
}

.m_t_22 {
    margin-top: 22px;
}

.m_b_22 {
    margin-bottom: 22px;
}

.m_b_10 {
    margin-bottom: 10px;
}

.m_t_0 {
    margin-top: 0;
}

.m_t_a {
    margin-top: auto;
}

.m_auto {
    margin: auto;
}

/* padding */
.pad_l_25 {
    padding-left: 25px;
}
.pad_50{
    padding: 30px 0;
}

.pad_50_40{
    padding: 50px 40px;
}

.pad_20_35{
    padding: 20px 35px;
}

/* border */

.brad_12 {
    border-radius: 12px;
}

.border_lg {
    border: 1px solid #D2D1D145;
}

.border_bl_full {
    border: 1px solid #214578;
}

/* position */

.pos_rel {
    position: relative;
}

.pos_abs {
    position: absolute;
}

.no_sel {
    user-select:none
}

.w_auto {
    width:auto;
}

.w_full {
    width:100%;
}


/* тени */

.shadow {
    -webkit-box-shadow: 5px 5px 12px -6px rgba(34, 60, 80, 0.43);
    -moz-box-shadow: 5px 5px 12px -6px rgba(34, 60, 80, 0.43);
    box-shadow: 5px 5px 12px -6px rgba(34, 60, 80, 0.43);
}

/* градиент */

.select_btn.active,
.select_btn:hover,
.gradient {
    background: linear-gradient(to left bottom, #214578, #55A9E0);
    color: white;
    text-decoration: none;
}

.gradient_revers {
    background: linear-gradient(to left bottom, #55A9E0, #214578);
    color: white;
    text-decoration: none;
}

.breakdowns-card {
    flex: 1;
    border: 1px solid grey;
    overflow: hidden;
}

/* скроллинг линии */

.ower_scroll {
    overflow-x: scroll;
}

.ower_scroll::-webkit-scrollbar {
    display: none;
  }

/* элементы формы */

input {
    height: 47px;
    border-radius: 7px;
    outline:none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #999 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
}

textarea {
    border-radius: 7px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

.category_info_section {
   background: linear-gradient(87.67deg,#e9f3ff 6.76%,#f9faff 90.3%); 
    overflow: hidden;
}

.category_info_section ._container{
    z-index: 10;
    position: relative;
}

.pl_bl_1 {
    width: 200px;
    height: 300px;
    right: 10px;
    bottom: 10px;
    transform: rotate(22deg);
}


.pl_bl_2 {
    width: 100px;
    height: 200px;
    right: 50px;
    bottom: 269px;
    transform: rotate(-22deg);
}

.pl_bl_3 {
    width: 150px;
    height: 198px;
    right: 220px;
    bottom: 231px;
    transform: rotate(-44deg);
}

.pl_bl {
    position: absolute;
    background-image: url(../img/icons/palets_bledn.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    
}

@media (max-width: 1280px) { 
    .category_info_section  ._container{ 
        width:78%;
    }
}

@media (max-width: 1024px) { 
    .category_info_section  ._container{ 
        width:68%;
    }
}


@media (max-width: 1600px) { 
    ._container{ 
        width:98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}


@media (max-width: 512px) { 
    ._container{ 
        width:94%;
        margin-left: 3%;
        margin-right: 3%;
    }
    h2 {
        font-size: 38px;
    }
}

@media (max-width: 375px) { 
    section h2{ 
        word-wrap: break-word;
    }
}
.nb_wrapper {
    display: flex;
    float: right;
    margin-top: 20px;
}

.navi_btn {
    display: flex;
    position: absolute;
    left:calc((100% / 2) + 620px);
    bottom:20px;
    z-index: 10000;
}

.nb_wrapper .nav_btn:first-child,
.navi_btn .nav_btn:first-child { 
    margin-right: 10px;
}

.nav_btn {
    width:45px;
    height:45px;
    background-color: white;
    background-image: url(../img/icons/arrow.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 45px;
    border:1px solid #214578;
}

.nav_btn_next {
    transform: rotate(90deg);
}

.nav_btn_prev {
    transform: rotate(-90deg);
}

.btn {
    background-color: #DE213C;
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 7px 35px;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
}

.btn_full {
    width:100%;
}

/* Получите бесплатную консультацию */

.free_consultation {
    margin-top: 80px;
}

.free_consultation h2{
    margin-top: 0;
    margin-bottom: 0.5em;
}

.free_consultation input:first-child {
    margin-bottom: 20px;
}

.rub {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

@media (max-width: 1024px) { 
    .free_consultation ._container {
        flex-direction: column;
    }

    .free_consultation ._container div:first-child{ 
        margin-bottom: 40px;
    }

    .free_consult_form {
        flex-direction: column;
        
    }

    .free_consult_form div:first-child {
        margin-right: 0;
     }
}

/* Получите бесплатную консультацию end */

/* отзывы */

.main_reviews .rev_blk:last-child{
    margin-right: 0;
}

.rev_blk .rew_stiker{
    top:0;
    right: 50px;
}

.reviews_in_page  {
    justify-content: space-between;
}

.reviews_in_page .rev_blk {
    width: 31%;
    margin-bottom: 40px;
}

/* отзывы end */



/* Оформление текстового контента*/

.text_blk ul{
    list-style: none;
}

.text_blk ul li{
    position: relative;
}

.text_blk ul li::before{
    content:"";
    width:6px;
    height: 6px;
    position: absolute;
    left: -15px;
    top: calc(50% - 3px);
    background-color: #214578;
}

.text_blk p{
    margin: 1em 0;
}

.text_blk a:hover { 
    text-decoration: underline;
}

.text_blk a { 
    color:#214578
}

.text_blk h1,
.text_blk h2,
.text_blk h3,
.text_blk h4 {
    margin: 1em 0;
}


/* Оформление текстового контента end */

/* Подменю на главной */

.menu li{
    position: relative;
}

.city_list,
.menu li ul{
    display: none;
    position: absolute;
    left: 0;
    top:100%;
    background-color: white;
    z-index: 1111000;
    min-width: 200px;
    border-radius: 12px;
    border: 1px solid #e8e8e8;
    overflow: hidden;
}

.city_list.active {
    display: flex;
}

.city_list a,
.menu li ul li a{ 
    padding: 5px 10px;
    width: 100%;
    margin-left: 0;
}


.menu li:hover > a{
    color:#214578;
    text-decoration: underline;

} 

.city_list a:hover,
.menu li ul li a:hover{ 
    background-color: #214578;
    color: white;
    text-decoration: none;
}

.menu li:hover ul{ 
    display: block;   
}

/* Подменю на главной end */

/* Карта вызовов */

#map_vz {
    width:100%;
    height: 300px;
    overflow: hidden;
}

.map_wrap{
    position:relative;
    padding-bottom: 30px;
}

.map_counter_wrapper {
    width:98%;
    bottom: -10px;
    left:2%;
    display: flex;
    justify-content: center;
}

.map_counter {
    margin: 0 5px;
    padding: 10px 20px;
    line-height: 1.2;
    font-size: 12px;
}

.map_counter span{
    font-size: 42px;
    font-weight: bold;
}

/* Карта вызовов end */

/* Оформление скрола */

::-webkit-scrollbar {
    overflow-y: scroll;
    width: 7px;
    background-color: #f9f9fd;
  }

  ::-webkit-scrollbar-thumb {
    background-color: grey;
  }

/* Оформление скрола end */

/* Страница контактов */

.contact_page_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact_page_list li{
    padding: 10px 0;
    border-bottom: 1px solid grey;
    justify-content: space-between;
    display: flex;
}

.contact_page_list li span{ 
    font-weight: 600;
}

.service_centers-info {
    display: none;
}

.service_centers-info.active{
    display: block;
}


/* Блок брендов */

.brand_element img{
    margin: auto;
    width: 80%;
}

.brand_element {
    width:15%;
    height: 90px;
    border: 1px solid #214578;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    filter: grayscale(1);
    min-width: 135px;
}

.brand_element:hover { 
    filter: grayscale(0);
}

/* Блок брендов end*/

/* Кнопка вверх  */

.up_btn {
    position: fixed;
    width:60px;
    height: 60px;
    bottom: 30px;
    right: 10px;
    border: 2px solid #214578;
    border-radius: 12px;
    background-color: white;
    cursor: pointer;
    background-image: url(../img/icons/arrow.svg);
    background-size: 40%;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(-180deg);
    z-index: 999999;
}

.up_btn:hover {
    background-color: #214578;
    border: 2px solid white;
    background-image: url(../img/icons/arrow-hover.svg);
}

.up_btn_hide{ display: none;}

@media (max-width: 1024px) {
    .up_btn {
        bottom: 80px;
    }
}

/* Кнопка вверх  end*/


@media (max-width: 1024px) { 

    .contact_page ._container > div {
        flex-direction: column;
    }


    .contacts_row {
        margin-right: 0;
    }

}

@media (max-width: 512px) { 
    .contact_page_list li span {
        max-width: 60%;
        text-align: right;
    }
}

/* Страница контактов end */

@media (max-width: 512px) {
    .q_form {
        flex-wrap: wrap;
    }
    .q_form_elem {
        width:100%;
        flex: unset;
        margin-right: 0;
        margin-bottom: 20px;
    }
}