/* Баннер на главной */

.bnr_menu {
    z-index: 1000; 
    width:1440px;
    top:30px;
    left:calc((100% - 1440px) / 2);
    position: absolute;
}



.bnr_menu .bnr_menu_punct .sub_menu .sub_menu_puncts { 
    background-color: white;
    border-radius: 12px;
    min-height: 100px;
    justify-content: space-between;
    overflow: hidden;
}

.bnr_menu .bnr_menu_punct .sub_menu .sub_menu_puncts a:hover {
    color: #214578;
    background-color: white;
    text-decoration: underline;
    
} 

.bnr_menu .bnr_menu_punct .sub_menu .sub_menu_puncts a { 
    width:23%;
    text-align: left;
}


.bnr_menu .bnr_menu_punct .sub_menu { 
    display: none;
    position: absolute;
    width:100%;
    top:100%;
    left:0;
    padding-top: 10px;
}

.bnr_menu .bnr_menu_punct:hover .sub_menu { 
    display: block;
}

.bnr_menu  .bnr_menu_punct{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-align: center;
    background-color: white;
    overflow: hidden;
}

.bnr_menu  .bnr_menu_punct:first-child{
    border-radius: 12px 0 0 12px;
}

.bnr_menu  .bnr_menu_punct:last-child{
    border-radius: 0 12px 12px 0;
}


.bnr_menu  .bnr_menu_punct a span{
    border-right: 1px solid #214578;
    display: block;
    padding: 0 20px;
}

.bnr_menu  .bnr_menu_punct a{ 
    padding: 20px 0;
    line-height: 1;
}

.bnr_menu  .bnr_menu_punct a:hover{ 
    background-color: #214578; 
    text-decoration: none;
    color:white
}

.bnr_menu  .bnr_menu_punct:last-child a span{
    border-right: none;
}

.main_slide img{
    width:100%;
}

.main_slide {
    position: relative;
}

.muar {
    background-color: #16161526;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 900;
    left: 1px;
    top: 1px;
}

.bnr_info {
    position: absolute;
    z-index: 1000;
    top: 25%;
    left:calc((100% - 1440px) / 2 );
    color: white;
    width:33%
}

.bnr_info ul{
    list-style: none;
    padding: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

.ak_h1 {
    font-size: 56px;
    font-weight: 900;
    line-height: 1;
}

@media (max-width: 1480px) { 
    .bnr_info {
        width:80%;
        left:1%;
        top:30%;
    }

    .ak_h1,
    .bnr_info h1{ 
        font-size: 48px;
    }

    .bnr_menu {
        width:98%;
        left: 1%;
    }

    .navi_btn {
        right:1%;
        left:unset;
    }


}

@media (max-width: 1360px) { 
    .bnr_menu .bnr_menu_punct {
        font-size: 16px;
    }

    .bnr_menu .bnr_menu_punct a { 
        padding: 10px 0;
    }
    
    .bnr_info {
        top:25%;
    }
}

@media (max-width: 1080px) {
    .bnr_menu {
        display: none;
    }

    .bnr_info {
        width: 74%;
        left: 3%;
        top:7%
    }

    .ak_h1,
    .bnr_info h1 {
        font-size: 36px;
    }
}


@media (max-width: 768px) { 
    .main_slider  .swiper-wrapper,
    .main_slider  .swiper-slide{
        height: 400px;
    }

    .main_slider  {
        min-height: 400px;
    }

    .main_slider  img{
        width:100%;
        height:100%;
        object-fit: cover;
    }

    .ak_h1, .bnr_info h1 {
        font-size: 48px;
    }

    .main_slider .muar {
        background-color: #16161576;
    }
}


/* Баннер на главной end */