@charset "UTF-8";

body {
    font-family: "Lato";
    color:#161615;
}

h1{
    font-size: 54px;
    font-weight: 900;
    line-height: 1;
}

h2 {
    font-size: 46px;
    font-weight: 900; 
}

h3 {
    font-size: 30px;
    font-weight: 900; 
}

a {
    color:#161615
}

._container{
    width:1440px;
    margin: 0 auto;
}

.gray_bg {
    background-color: #e8e8e8;
}

.blue_bg {
    background-color: #214578;
}

.red_bg {
    background-color: #DE213C;
}

.gray_color {
    color: #e8e8e8;
}

.blue_color {
    color: #214578;
}

.red_color {
    color: #DE213C;
}

.d_flex{
    display: flex;
}

.f_col{
    flex-direction: column;
}

@media (max-width: 1440px) { 
    ._container{ 
        width:98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

.navi_btn {
    display: flex;
    position: absolute;
    left:calc((100% / 2) + 620px);
    bottom:20px;
    z-index: 10000;
}

.navi_btn .nav_btn:first-child { 
    margin-right: 10px;
}

.nav_btn {
    width:45px;
    height:45px;
    background-color: white;
    background-image: url(../img/icons/arrow.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 45px;
}

.nav_btn_next {
    transform: rotate(90deg);
}

.nav_btn_prev {
    transform: rotate(-90deg);
}

.btn {
    background-color: #DE213C;
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 7px 35px;
    border-radius: 7px;
    display: inline-block;
}


/* Шапка сайта */

header {
    max-height: 91px;
    margin: 10px 0;
}

header ._container{
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    height: 61px;
    width: 137px;
}

header .city_time *{
    margin: auto auto auto 0;
    position: relative;
    padding-left: 20px;
}

header .city_time .time_work{
    margin-top: 0;
} 

header .city_time .city_select{ 
    padding-right: 20px;
    text-decoration: none;
    margin-bottom: 0;
}

header .city_time .city_select:before{
    content: "";
    position: absolute;
    width:11px;
    height: 17px;
    background-image: url(../img/icons/map_pin.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left:0;
    top:calc(50% - 8px)
}

header .city_time .city_select:after{
    content: "";
    position: absolute;
    width:15px;
    height: 7px;
    background-image: url(../img/icons/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    right:0;
    top:calc(50% - 3px)
}


header .city_time .time_work:before{ 
    content: "";
    position: absolute;
    width:13px;
    height: 13px;
    background-image: url(../img/icons/time.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left:0;
    top:calc(50% - 6px);
}

header .phone {
    margin: auto 10px;
    text-decoration: none;
    font-size: 28px;
    font-weight: 900;
}

header .menu li{
    display: flex;
}

header .menu a:hover{
    text-decoration: underline;
    color:#214578;
}

header .menu a{
    margin: auto 0 auto 10px;
    text-decoration:  none;
}

/* Шапка сайта end */


/* Баннер на главной */

.main_slide {
    position: relative;
}

.muar {
    background-color: #16161526;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 900;
    left: 1px;
    top: 1px;
}

.bnr_info {
    position: absolute;
    z-index: 1000;
    top: 25%;
    left:calc((100% - 1440px) / 2 );
    color: white;
    width:33%
}

.bnr_info ul{
    list-style: none;
    padding: 0;
    font-size: 20px;
    margin-bottom: 20px;
}

.ak_h1 {
    font-size: 56px;
    font-weight: 900;
    line-height: 1;
}

/* Баннер на главной end */