@charset "UTF-8";

body {
    font-family: "Lato";
    color:#161615;
}

h1{
    font-size: 54px;
    font-weight: 900;
    line-height: 1;
}

h2 {
    font-size: 46px;
    font-weight: 900;
    line-height: 1;
}

h3 {
    font-size: 30px;
    font-weight: 900;
    line-height: 1; 
}

a {
    color:#161615;
    text-decoration: none;
}

a:hover { 
    text-decoration: underline;
}

section h2 {
    margin: 0.7em 0;
}

section h3 {
    margin: 0.6em 0;
}

._container{
    width:1440px;
    margin: 0 auto;
}

.gray_bg {
    background-color: #e8e8e8;
}

.white_bg {
    background-color: white;
}


.blue_bg {
    background-color: #214578;
}

.red_bg {
    background-color: #DE213C;
}

.dgray_color {
    color: #A3A3A3;
}

.gray_color {
    color: #e8e8e8;
}

.blue_color {
    color: #214578;
}

.red_color {
    color: #DE213C;
}

.white_color {
    color: white;
}

.d_block{ 
    display: block;
}

/* flex */

.d_flex{
    display: flex;
}

.f_col{
    flex-direction: column;
}

.f_1 {
    flex:1
}

.f_2 {
    flex:2
}

.f_4 {
    flex:4
}

.jc_sb {
    justify-content: space-between;
}

.f_wrap {
    flex-wrap: wrap;
}

/* margin */
.m_r_30 {
    margin-right: 30px;
}

.m_r_25 {
    margin-right: 25px;
}

.m_lr_25 {
    margin: 0 25px;
}

.m_b_40 {
    margin-bottom: 40px;
}

.m_r_70 {
    margin-right: 70px;
}

.m_t_22 {
    margin-top: 22px;
}

.m_b_22 {
    margin-bottom: 22px;
}

.m_t_a {
    margin-top: auto;
}

.m_auto {
    margin: auto;
}

/* padding */

.pad_50{
    padding: 30px 0;
}

.pad_50_40{
    padding: 50px 40px;
}

/* border */

.brad_12 {
    border-radius: 12px;
}

.border_lg {
    border: 1px solid #D2D1D145;
}

/* position */

.pos_rel {
    position: relative;
}

.pos_abs {
    position: absolute;
}

/* тени */

.shadow {
    -webkit-box-shadow: 5px 5px 12px -6px rgba(34, 60, 80, 0.43);
    -moz-box-shadow: 5px 5px 12px -6px rgba(34, 60, 80, 0.43);
    box-shadow: 5px 5px 12px -6px rgba(34, 60, 80, 0.43);
}

/* градиент */

.select_btn.active,
.select_btn:hover,
.gradient {
    background: linear-gradient(to left bottom, #214578, #55A9E0);
    color: white;
    text-decoration: none;
}

/* скроллинг линии */

.ower_scroll {
    overflow-x: scroll;
}

.ower_scroll::-webkit-scrollbar {
    display: none;
  }

/* элементы формы */

input {
    height: 47px;
    border-radius: 7px;
    outline:none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important; /* Цвет фона */
    -webkit-text-fill-color: #999 !important; /* цвет текста */
    color: #999 !important; /* цвет текста */
}

textarea {
    border-radius: 7px;
    outline: none;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

@media (max-width: 1600px) { 
    ._container{ 
        width:98%;
        margin-left: 1%;
        margin-right: 1%;
    }
}

@media (max-width: 375px) { 
    section h2{ 
        word-wrap: break-word;
    }
}
.nb_wrapper {
    display: flex;
    float: right;
    margin-top: 20px;
}

.navi_btn {
    display: flex;
    position: absolute;
    left:calc((100% / 2) + 620px);
    bottom:20px;
    z-index: 10000;
}

.nb_wrapper .nav_btn:first-child,
.navi_btn .nav_btn:first-child { 
    margin-right: 10px;
}

.nav_btn {
    width:45px;
    height:45px;
    background-color: white;
    background-image: url(../img/icons/arrow.svg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 45px;
    border:1px solid #214578;
}

.nav_btn_next {
    transform: rotate(90deg);
}

.nav_btn_prev {
    transform: rotate(-90deg);
}

.btn {
    background-color: #DE213C;
    color: white;
    font-size: 22px;
    text-decoration: none;
    padding: 7px 35px;
    border-radius: 7px;
    display: inline-block;
    text-align: center;
}

.btn_full {
    width:100%;
}

/* Получите бесплатную консультацию */

.free_consultation {
    margin-top: 80px;
}

.free_consultation h2{
    margin-top: 0;
    margin-bottom: 0.5em;
}

.free_consultation input:first-child {
    margin-bottom: 20px;
}

@media (max-width: 1024px) { 
    .free_consultation ._container {
        flex-direction: column;
    }

    .free_consultation ._container div:first-child{ 
        margin-bottom: 40px;
    }

    .free_consult_form {
        flex-direction: column;
        
    }

    .free_consult_form div:first-child {
        margin-right: 0;
     }
}

/* Получите бесплатную консультацию end */

/* отзывы */

.main_reviews .rev_blk:last-child{
    margin-right: 0;
}

.rev_blk .rew_stiker{
    top:0;
    right: 50px;
}
/* отзывы end */

/* Баннер страницы */


.page_head #breadcrumbs a{
    color:white;
    padding: 30px 0;
    display: inline-block;
}

.page_head {
    padding: 30px 0;
}


.page_head .bnr_menu{
    position: relative;
    top:unset;
    left:unset;
}

/* Баннер страницы end */

/* Оформление текстового контента*/

.text_blk ul{
    list-style: none;
}

.text_blk ul li{
    position: relative;
}

.text_blk ul li::before{
    content:"";
    width:6px;
    height: 6px;
    position: absolute;
    left: -15px;
    top: calc(50% - 3px);
    background-color: #214578;
}

.text_blk p{
    margin: 1em 0;
}

.text_blk a:hover { 
    text-decoration: underline;
}

.text_blk a { 
    color:#214578
}

.text_blk h1,
.text_blk h2,
.text_blk h3,
.text_blk h4 {
    margin: 1em 0;
}


/* Оформление текстового контента end */