.master-info.active {
    display: block;
}

.master-info {
    display: none;
}

.master-main .select_btn {
    border: 1px solid #D2D1D145;
    margin-right: 20px;
}

.master-card .mt_wraper{
    position: absolute;
    width: 100%;
    top:calc(50% - 116px);
    z-index: 1;
}

.master-card {
    position: relative;
    min-height: 400px;
}

.master-card:nth-child(3){
    margin-right: 0;
}

.master-done {
    padding-left: 25px;
    line-height: 1;
}
.master-text {
    color: #FFFFFF;
    background-color: #214578;
}

.master-count {
    margin-right: 10px;
    font-size: 48px;
    font-weight: bold;
}

.master-name {
    width: 55%;
    font-size: 30px;
    padding: 18px 0 4px 25px;
    line-height: 1;
}

.master-role {
    width: 55%;
    padding: 18px 4px 30px 25px;
    line-height: 1;
}

.master-photo {
    position: absolute;
    z-index: 2000;
    max-width: 270px;
    right: 0;
}

@media (max-width: 1024px) { 
    .master-done {
        margin-bottom: 0;
    }
    
 }

@media (max-width: 512px) { 
    .master_type_chenge {
        margin-bottom: 0;
        flex-direction: column;
    }

    .master_type_chenge .uni_selector{ 
        margin: 5px 0;
    }
    
    .master-photo {
        max-width: 200px;
    }

    .master-card {
        min-height: 300px;
    }

    .master-done {
        padding-left: 10px;
        font-size: 12px;
    }
    .master-count { 
        font-size: 32px;
    }
 }