

.main__portfolio ._container {
    background-color: #D2D1D1;
}

.selector .side_gradient_gray{ 
    width:40px;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, #D2D1D1 , #D2D1D100);;
    z-index: 1000;
    right:0;
}

.application-info {
    padding-top: 19px;
    padding-left: 36px;
}

.application-info p:nth-child(n+2){
    margin-bottom: 12px;
}

.application-identifier {
    margin-bottom: 27px;
}

.application {
    padding-bottom: 60px;
    background-color: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
    width:31%;
}

.application .img_wrapper{ 
    height: 200px;
    overflow: hidden;
}

.application .img_wrapper img{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.application-identifier {
    font-weight: 600;
    font-size: 20px;
}

.application-time::after {
    content: "";
    background-image: url("../img/icons/time_red.svg");
    position: absolute;
    width: 17px;
    height: 17px;
    display: block;
    top: 2px;
    left: -23px;
}

.application-price::after {
    content: "";
    background-image: url("../img/icons/price_red.svg");
    position: absolute;
    width: 18px;
    height: 18px;
    display: block;
    top: 2px;
    left: -23px;
}

.portfolio-application.active {
    display:flex;
}

.portfolio-application {
    display: none;
}

@media (max-width: 1024px) { 
    .main__portfolio ._container {
        padding: 21px 17px 50px 17px;
 }
}

@media (max-width: 768px) { 
    .documents-image img{
        width:48%;
    }
}

@media (max-width: 512px) { 
    .portfolio-application{
        flex-direction: column;
    }
}