.selector {
    min-width: 100%;
    position: relative;
}

.selector .side_gradient{ 
    width:40px;
    height: 100%;
    position: absolute;
    background: linear-gradient(to left, #ffffff , #ffffff00);;
    z-index: 1000;
    right:0;
}

.select_btn {
    padding: 10px 35px;
    font-size: 20px;
    display: inline-block;
}


.prices .swiper-slide{
    width: auto;
}