.main-whyar h2{
    margin-top: 0;
    margin-bottom: 0.5em;
}
.quality {
    width: 50%;
}
.quality-text {
    margin-top: 33px;
    margin-left: 15px;
}
.whyar-img {
    width: 65px;
}
.mgt_10 {
    margin-top: 10px;
}

@media (max-width: 1024px) { 
    .main-whyar ._container > div:first-child{
        margin-bottom: 40px;
    }

    .main-whyar ._container { 
        flex-direction: column;
    }
}

@media (max-width: 512px) { 
    .quality {
        width: 100%;
    }
}